.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
  }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .label {
    margin-right: 8px;
    font-weight: bold;
  }
  
  .input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 320px;
  }
  
  .outputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }
  
  .output {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 320px;
    text-align: center;
  }

  .imageLink {
    font-size: 2rem;
    color: #0070f3;
    text-decoration: underline;
    padding: 2rem;
    display: inline-block;
  }